@import url("tasksList.css");
@import url("form.css");


body {
	background: #262a2b;
	font-family: 'Open Sans', sans-serif;

}


h1 {
	font-family: 'Open Sans', sans-serif;
}

input {
	font-size: 1em;
	height: 25px;
	width: 97%;
	border: none;
	font-family: "Poppins", sans-serif;
	color: #333;
	margin: 1px 0 5px 0;
	border-radius: 0.2rem;
	margin-left: 10px;
	margin-bottom: 10px;


	background-color: rgb(255, 255, 255);
	border-bottom: 0.3rem solid transparent;
	transition: all 0.3s;
}

textarea {
	margin-left: 10px;
	margin-bottom: 10px;

}