#img-div {
    background: linear-gradient(-45deg, grey, yellow, grey);
    margin: 0 40px 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 3px 7px 20px -2px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 3px 7px 20px -2px rgba(0, 0, 0, 0.71);
    box-shadow: 3px 7px 20px -2px rgba(0, 0, 0, 0.71);
  }
  
  #img-caption {
    max-width: 90%;
    text-align: center;
    padding-left: 25px;
  }
  
  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  img:hover {
    -webkit-filter: none;
    filter: none;
  }
  
  header {
    text-align: center;
  }
  
  #main {
    background: linear-gradient(45deg, grey, yellow, grey);
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Helvetica Neue", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 3px 7px 20px -2px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 3px 7px 20px -2px rgba(0, 0, 0, 0.71);
    box-shadow: 3px 7px 20px -2px rgba(0, 0, 0, 0.71);
  }
  
  #title{
    padding-top: 25px;
  }
  
  #tribute-info {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  ul:before {
    content: attr(aria-label);
    font-size: 120%;
    font-weight: bold;
  }
  
  li {
    text-align: left;
  }
  
  footer {
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
  }
  
  td,
  th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #fff;
  }
  
  h1 {
    font-size: 50px;
  }
  
  #awards {
    font-size: 120%;
    font-weight: bold;
  }
  
  html {
    font-size: 10px;
  }
  
  @media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }
  
  .borda {
    border-radius: 10px;
    border: 1px solid grey;
    margin: 0 60px 0 60px;
    background: linear-gradient(-45deg, grey, yellow, grey);
    -webkit-box-shadow: 3px 7px 20px -2px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 3px 7px 20px -2px rgba(0, 0, 0, 0.71);
    box-shadow: 3px 7px 20px -2px rgba(0, 0, 0, 0.71);
  }
  
  .a{
    background: linear-gradient(45deg, grey, yellow, grey);
      margin: 0 200px 15px 200px;
      padding-bottom: 15px;
  }
  
  .b {
      padding: 15px 0 15px 0;
  }
  
  blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
  }
  