<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple UNES</title>
</head>

<body background="../img/fundo.png">


    <table width="900" align="center">
        <tr>
            <td height="89"><img src="../img/logo.png" alt="logo"></td>
            <td align="right">
                <a href="#">Home </a> |
                <a href="about-us.html">About us </a> |
                <a href="contact.html">Contact </a> |
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <img src="../img/capa.png" alt="capa">
            </td>
        </tr>


        <tr>
            <td colspan="2">

                <h2>About the college</h2>
                <p>
                    Lorem <strong>ipsum dolor</strong> sit <em>amet</em>, consectetur adipiscing elit. Suspendisse sit
                    amet mollis nisl. Aliquam sit amet diam ac quam dignissim lobortis vel ac sapien. Proin placerat
                    cursus risus. Duis blandit varius hendrerit. Vivamus sed placerat turpis, vel viverra neque. Duis at
                    tempor magna, sit amet gravida purus. Nulla facilisi. Vivamus accumsan risus vitae risus blandit
                    venenatis. Sed sed nisl tempor, tincidunt elit sit amet, facilisis neque. Donec rutrum mauris odio,
                    gravida vestibulum nulla cursus vitae. Cras vestibulum lectus sed augue viverra ultrices ac nec
                    lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum cursus elit, vitae
                    placerat lectus laoreet a.
                </p>

                <p>
                    Lorem <strong>ipsum dolor</strong> sit <em>amet</em>, consectetur adipiscing elit. Suspendisse sit
                    amet mollis nisl. Aliquam sit amet diam ac quam dignissim lobortis vel ac sapien. Proin placerat
                    cursus risus. Duis blandit varius hendrerit. Vivamus sed placerat turpis, vel viverra neque. Duis at
                    tempor magna, sit amet gravida purus. Nulla facilisi. Vivamus accumsan risus vitae risus blandit
                    venenatis. Sed sed nisl tempor, tincidunt elit sit amet, facilisis neque. Donec rutrum mauris odio,
                    gravida vestibulum nulla cursus vitae. Cras vestibulum lectus sed augue viverra ultrices ac nec
                    lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum cursus elit, vitae
                    placerat lectus laoreet a.
                </p>

            </td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <h4>Todos os direitos reservados</h4>
            </td>
        </tr>
    </table>
</body>

</html>