<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tribute SOAD</title>
    <link rel="stylesheet" type="text/css" href="../css/tribute_page.css">

</head>
<body>
    <div id="main">
        <header>
          <h1 id="title"><b>SYSTEM OF A DOWN</b></h1>
          <h4> The revolucionary armenian band</h4>
        </header>
    
        <main>
          <section id="img-div">
            <figure>
              <img draggable="false" id="image"
                src="https://rollingstone.uol.com.br/media/_versions/legacy/2015/img-1033666-soad-abre_widelg.jpg"
                alt="SOAD">
              <figcaption id="img-caption">From the left to the right, John Dolmayan (Drummer), Daron Malakian (Guitar),
                Serj Tankian (Vocal), Shavo Odadjian (Bass).</figcaption>
            </figure>
          </section>
    <br><br>
          <div class="borda a">
          <section id="tribute-info">
            <ul aria-label="Time line band:">
              <li><b>1994</b> - Born a band</li>
              <li><b>1998</b> - Release the album System of a Down </li>
              <li><b>2001</b> - Release the album Toxicity</li>
              <li><b>2002</b> - Release the album Steal This Album!</li>
              <li><b>2005</b> - Release the album Mezmerize</li>
              <li><b>2005</b> - Release the album Hypnotize</li>
    
            </ul>
          </section>
          <br><br>
           <b id="awards">Awards:</b>
          <section>
            <table >
              <tr>
                <th>Year</th>
                <th>Indications</th>
                <th>Prize</th>
                <th>Result</th>
              </tr>
              <tr>
                <td>2002</td>
                <td>"Chop Suey!"</td>
                <td>Best Metal Performance</td>
                <td>Indicated</td>
              </tr>
              <tr>
                <td>2003</td>
                <td>"Aerials"</td>
                <td>Best Metal Performance</td>
                <td>Indicated</td>
              </tr>
              <tr>
                <td>2006</td>
                <td>"B.Y.O.B."</td>
                <td>Best Metal Performance</td>
                <td>Winner</td>
    
              </tr>
              <tr>
                <td>2007</td>
                <td>"Lonely Day"</td>
                <td>Best Metal Performance</td>
                <td>Indicated</td>
              </tr>
            </table>
          </section>
          </div>
        <br><br>
          
          <section class="borda b">
            <iframe width="400" height="315"
            src="https://www.youtube.com/watch?v=iywaBOMvYLI">
            </iframe>
            <iframe width="400" height="315"
            src="https://www.youtube.com/watch?v=CSvFpBOe8eY">
            </iframe>
            <iframe width="400" height="315"
            src="https://www.youtube.com/watch?v=LoheCz4t2xc">
            </iframe>
          </section>
          <section>
            <section>
            <blockquote cite="https://www.youtube.com/watch?v=VxVzT0znI8Q">
              <p>Revolution, the only solution,
                the armed response of an entire nation.
                Revolution, the only solution,
                we've taken all your shit, now it's time for restitution.</p>
              <cite>-- P.L.U.C.K - System of a Down</cite>
            </blockquote>
          </section>
          </section>
        </main>
        <br><br>
        <footer>
          <b>If you have time, you should read more about this incredible human being on his<a id="tribute-link"
              target="_blank" href="https://pt.wikipedia.org/wiki/System_of_a_Down"> Wikipedia entry</a></br>
          <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="pt_BR" data-type="horizontal" data-theme="dark" data-vanity="joão-miranda-br">Create by <a class="LI-simple-link" href='https://br.linkedin.com/in/jo%C3%A3o-miranda-br?trk=profile-badge'> João Miranda</a></div>
        </footer>
      </div>

      <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
</body>
</html>